<md-content class="content-header" layout="column" layout-align="center center">
    <h2 class="white">"El tipo puede cambiar de todo, de cara, de casa, de familia, pero hay una cosa que no puede cambiar.
        No puede cambiar de pasión" </h2>
</md-content>
<md-content class="content-blog" layout="column">
    <div class="bio" layout="column" layout-align="center center">
        Hola, mi nombre es Henry, Ingeniero Informático, Developer y Futbolero y les vengo a escribir sobre todo lo que me apasiona
    </div>
    <div class="list-posts" layout="row" layout-align="space-around center">
        <md-card class="post" ng-repeat="post in vm.posts" ng-click="vm.goToPost(post.url)">
         <img class="post-image" ng-src="{{post.image}}" class="md-card-image" alt="Washed Out">
         <md-card-content style="padding: 5px 15px;">
           <h2 class="md-title">{{post.title}}</h2>
         </md-card-content>
         <div  layout="row" layout-align="end center">
             <md-button  aria-label="menu" class="md-fab md-warn social-btn">
                 <i class="fa fa-plus"></i>
             </md-button>
         </div>
       </md-card>
    </div>
</md-content>
