.h-toolbar{
    background-color: #424242 !important;
    -webkit-box-shadow: 5px 6px 20px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 6px 20px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 6px 20px -6px rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0px;
}

.content-header{
    background: url("img/pattern.png");
    background-repeat: no-repeat;
    padding: 200px 20px;
    width: 100%;
    background-size: cover;
    > h1{
        font-style: italic;
        font-weight: 700;
        max-width: 1150px;
        width: 80%;
    }

}
.white{
    color: white;
}

.content-blog{
    -webkit-box-shadow: 0px -18px 28px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -18px 28px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -18px 28px -3px rgba(0, 0, 0, 0.75);
}

.social{
    width: 80px;
    position: fixed;
    bottom: 0px;
    right: 0;
}
.social-btn{
    background: #FFEB3B !important;
    color: black !important;
    font-size: 16px;
}
